<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Myblog - index</title>
	</head>
	<body>
		<h1>Myblog - index</h1>
		<% @posts.each do |post| %>
			<h2><%=link_to post.title, post %></h2>
			<p><%= post.con %></p>
			<p>
				<%= link_to "Edit", edit_post_path(post)%> | 
				<%= link_to "Delete", post, :confirm => "Are you sure", :method => :delete%>
			</p>
			<hr/>
		<% end %>
		<p><%= link_to "Add a New Post", new_post_path %></p>
	</body>
</html>
